.toplinks{
  padding: 20px;
}
.banner {
  height: 50vh;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('homebg.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  display: flex;
  padding-bottom: 30px;
}
.wrapper1{
  background-color: gray;
}

.question h2 {
  margin:5px;
}

.question {
  padding-bottom: 30px;
}
