.toplinks {
  padding: 15px;
  font-size: 14px;
}
.banner {
  color: white;
  text-align: center;
  height: 70vh;
  background-image: linear-gradient(rgba(0,0,10,0.3), rgba(1,0,0,0.7)), url('homebg.jpg');
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height:120px;
    width: auto;
  }
  h1 {
    font-weight: bold;
    font-style: italic;
  }
  a{
    font-weight: bold;
  }
}
.start {
  padding: 15px;
  border-radius: 2px;
  margin-top: 10px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
   h1 {
    margin-top:10px;
  }
}
.frame-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: 2px;
  font-size:20px;
  background-color: white;
  padding: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
  width: auto;
  margin: -35px auto 0 auto;
}
.wrapper2 {
background-color: white;
  h2 {
  padding: 5px;
  margin: 5px;
  }
}
.wrapper3 {
padding-bottom: 50px;
  h2 {
    padding: 5px;
    margin: 5px;
  }
}
.fa-red {
  color: #900808;
  margin: 5px;
}
.link > a {
  color: white;
}

.number {
font-size: 28px;
font-family: 'Fredoka One', cursive;
color: $red;
}
.card {
padding: 20px;

h2 {
color: black;

}
}
