<div class= "topbar">

  <div>
   <i class="fas fa-chevron-left fa-1x" type="button" onclick="javascript:history.back()"></i>
  </div>




  <div class="rightside">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    </a>
  </div>

</div>


    <!-- Avatar with dropdown menu -->

