<div class= "topbar">

  <div>
    <button type="button" onclick="javascript:history.back()">◀️</button>
  </div>

  <div class="rightside">
    <%= link_to root_path do %>
      <%= image_tag 'mainlogo.png' %>
    <% end %>
    </a>
  </div>

</div>


    <!-- Avatar with dropdown menu -->

