.row li {
  display: inline-block;
  margin-top: 0px;
  margin-left: 10px;
  h1 {
    font-weight: bold;
  }
}

.inline {
  margin-top: 0px;
}

.main-image {
  width: 100vw;
  height: 50vh;
  border-radius: 2px;
}

.white {
  background-color: white;
}

.download {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.tags {
  padding: 20px;
}

.card {
  padding: 5px;
}
