.main-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.photo-card {
  background-color: white;
}

.photo-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}

 .photo-tags {
  margin-top: 10px;
 }

 #tag-title {
  font-weight: bold;
  margin: 0px;
 }

 .photo-comments {
  width: 90%;
 }
.right {
  position: absolute;
  right: 10px;
  top:0px;
}
.icons {
  margin-left:10px;
}
.block {
  display: inline-block;
}

