.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 40vh;
  object-fit: scale-down;
}
.photo-info {
  position: relative;
  background-color: white;
  display: flex;
  align-items: flex-start;
  height: auto;
}
 .photo-tags {
  width: 80%;
  margin: 0 auto;
 }
 .photo-comments {
  width: 90%;
 }
.right {
  position: absolute;
  right: 10px;
  top:0px;
}
.icons {
  margin-left:10px;
}
.block {
  display: inline-block;
}

