
<div class="container whitebox card-border">

  <div class="row">

      <div class="col-xs-10 col-xs-offset-1 icon">
         <h2>There are no photo in your event album, currentely. Click on search an event or new even to start. </h2>
         <%= image_tag 'iconregister.jpeg' %>
      </div>
  </div>
</div>
