<div class="container">
  <div class= "btn btn btn-outline-danger btn-sm center-block"><i class="fas fa-arrow-circle-left"></i>
  <%= link_to "Go back to my events", events_path %></div>
  <p class="btn btn-danger btn-sm center-block" id="search-by-location">Near my current location</p>
  <p id="user-position"></p>
  <div id="events-nearby"></div>
</div>
