<% if user_signed_in? %>
  <% else %>
    <div class= "toplinks container text-right">
      <ul class="list-inline">
        <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path %></li>
        <li><%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path %></li>
      </ul>
    </div>
<% end %>

<div class="banner">
  <div class="bannercontent text-center link">
    <div class="logo"><%= image_tag "mainlogo.png"%>
    </div>
    <h1>Share your photos</h1>
    <%= link_to "START NOW", events_path, class: "btn btn-danger start" %>
  </div>
</div>

<div class="wrapper3">
  <div class="container text-center">
    <div id="how" class= "frame-title">How does SharyPix work ?
    </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 card">
          <div><i class="number">1</i></div>
          <h2><strong>Create or Join an Event</strong></h2>
          <h2> Create Events and let your friends around you join easily.</h2>
        </div>
        <div class="col-xs-12 col-sm-4 card">
          <div><i class="number">2</i></div>
          <h2><strong>Take Pictures</strong></h2>
          <h2>Take Pictures with the built-in camera or upload them with SharyPix.</h2>
        </div>
        <div class="col-xs-12 col-sm-4 card">
          <div><i class="number">3</i></div>
          <h2><strong>Enjoy the Memories</strong></h2>
          <h2>Like, Comment and save the best memories forever!</h2>
        </div>
      </div>
  </div>
</div>
<div class="wrapper2">
  <div class="container text-center">
    <div id="why" class= "frame-title">Why using SharyPix ?
    </div>
      <div class="row">
        <div class="col-xs-12 col-sm-3 card">
          <h2><strong>Because it's easy</strong></h2>
          <i class="fas fa-globe fa-2x fa-red"></i>
          <h2>You don't have to share links or QR-Codes anymore, simply hop-in in an event and share the pictures.</h2>
        </div>
        <div class="col-xs-12 col-sm-3 card">
          <h2><strong>It's fun</strong></h2>
          <i class="fas fa-heart fa-2x fa-red"></i>
          <h2>Share best moments with your friends. Like and comment your favorite pictures.</h2>
        </div>
        <div class="col-xs-12 col-sm-3 card">
          <h2><strong>It's free</strong></h2>
          <i class="fas fa-portrait fa-2x fa-red"></i>
          <h2>Yes, everything is for free</h2>
        </div>
      </div>
  </div>
</div>


