<div class= "toplinks container text-right">
  <ul class="list-inline">
    <li>Log in</li>
    <li>Sign in</li>
  </ul>
</div>


<div class="banner">
  <div class="bannercontent text-center">
    <div class="logo"><%= image_tag "mainlogo.png"%>
    </div>
    <%= link_to "START NOW", "/events/index.html.erb", class: "btn btn-danger" %>
     <h1>Share your photos easily and instantely with everybody.</h1>
  </div>
</div>

<div class="wrapper1">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-md-4 question">
        <h2>Why using SharyPic ?</h2></div>
      <div class="col-xs-12 col-md-4 question">
        <h2>How does it works ?</h2></div>
      <div class="col-xs-12 col-md-4 question">
        <h2>Check events</h2></div>
    </div>
  </div>
</div>
<div class="wrapper2">
  <div class="container text-center">
    <h1>Why using SharyPic?</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <h2><strong>Because it's easy</strong></h2>
        <i class="fas fa-globe fa-3x fa-red"></i>
        <h2>No need e-mails, or phone numbers. You can share photos with everyone who's near you.</h2>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h2><strong>It's fast</strong></h2>
        <i class="fas fa-map-marker-alt fa-3x fa fa-red"></i>
        <h2>Find all the pictures of an event instantely thanks to geolocation</h2>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h2><strong>It's fun</strong></h2>
        <i class="fas fa-heart fa-3x fa-red"></i>
        <h2>Share best moments with your community. Like and comment your favorite pictures </h2>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h2><strong>It's diverse</strong></h2>
        <i class="fas fa-portrait fa-3x fa-red"></i>
        <h2>See photos of you within different angles. You can even access to professional pictures. </h2>
      </div>

    </div>
  </div>
</div>


