<div class= "toplinks container text-right">
  <ul class="list-inline">
    <li>Log in</li>
    <li>Sign in</li>
  </ul>
</div>


<div class="banner">
  <div class="bannercontent text-center">
    <div class="logo">
      <%= image_tag "mainlogo.png"%>
    </div>
    <%= link_to "START NOW", "/events/index.html.erb", class: "btn btn-danger" %>
  </div>
</div>

<div class="wrapper1">
  <div class="container text-center">
    <h1>Share your photos easily and
 instantely with everybody.</h1>
    <div class="row">
      <div class="col-xs-12 col-md-4 question">
        <h2>Why using SharyPic ?</h2></div>
      <div class="col-xs-12 col-md-4 question">
        <h2>How does it work ?</h2></div>
      <div class="col-xs-12 col-md-4 question">
        <h2>Check events</h2></div>
    </div>
  </div>
</div>
<div class="wrapper2">
  <div class="container text-center">
    <h1>Why using SharyPic?</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h2>It's easy</h2>
        <i class="fas fa-globe fa-3x fa-red"></i>
        <p class="lead mb-0">Share photos with everybody</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h2>It's fast</h2>
        <i class="fas fa-hand-holding-usd fa-3x fa fa-red"></i>
        <p class="lead mb-0">Share instantely</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h2>It's fun </h2>
        <i class="fas fa-heart fa-3x fa-red"></i>
        <p class="lead mb-0">Like and comment your favorite f</p>
      </div>
    </div>
  </div>
</div>


