<% content_for :title, "Shary Pix - Share photos easily with your friends" %>
<% if user_signed_in? %>
  <% else %>
    <div class= "toplinks container text-right">
      <ul class="list-inline">
        <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path %></li>
        <li><%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path %></li>
      </ul>
    </div>
<% end %>

<div class="banner">
  <div class="bannercontent text-center link">
    <div class="logo"><%= image_tag "mainlogo.png"%>
    </div>
    <h1>Share photos with people near you.</h1>
    <%= link_to "START NOW", search_events_path, class: "btn btn-danger start" %>
  </div>
</div>

<div class="wrapper3">
   <div class="container text-center">
    <div id="why" class= "frame-title">Why use SharyPix ?
    </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 card">
          <h2><strong>Because it's easy</strong></h2>
          <i class="fas fa-globe-europe fa-2x fa-red"></i>
          <h2> No need for e-mails, phone numbers, or links. You can share photos or videos with anyone who joins the event.</h2>
        </div>
        <div class="col-xs-12 col-sm-4 card">
          <h2><strong>Because it's fun</strong></h2>
          <i class="fas fa-heart fa-2x fa-red"></i>
          <h2>Share your best moments with your community. Like and comment your favorite pictures. </h2>
        </div>
        <div class="col-xs-12 col-sm-4 card">
          <h2><strong>Because it's diverse</strong></h2>
          <i class="fas fa-portrait fa-3x fa-red"></i>
          <h2>Anyone near you can share photos, so that you all can access many more pictures. See your event from a different point of view. You might see some amazing pictures. So let the magic suprise you ! </h2>
        </div>
      </div>
  </div>

</div>
<div class="wrapper2">
  <div class="container text-center">
    <div id="how" class= "frame-title">How does SharyPix work ?
    </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 card">
          <div><i class="number">1</i></div>
          <h2><strong>Join an event</strong></h2>
          <h2> Create or Search for an event. Join the event. Now see all the event pictures. </h2>
        </div>
        <div class="col-xs-12 col-sm-4 card">
          <div><i class="number">2</i></div>
          <h2><strong>Take a picture</strong></h2>
          <h2>Take a picture or upload it from the SharyPix app. It will instantely appear in the event photo gallery.</h2>
        </div>
        <div class="col-xs-12 col-sm-4 card">
          <div><i class="number">3</i></div>
          <h2><strong>Have fun</strong></h2>
          <h2>Like, comment, and save your favorites photos.</h2>
        </div>
      </div>
  </div>
</div>


