<% if user_signed_in? %>
  <% else %>
    <div class= "toplinks container text-right">
      <ul class="list-inline">
        <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path %></li>
        <li><%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path %></li>
      </ul>
    </div>
<% end %>

<div class="banner">
  <div class="bannercontent text-center">
    <div class="logo">
      <%= image_tag "mainlogo.png"%>
    </div>
    <%= link_to "START NOW", "/events/index.html.erb", class: "btn btn-danger" %>
  </div>
</div>

<div class="wrapper1">
  <div class="container text-center">
    <h1>Share your photos easily and
 instantely with everybody.</h1>
    <div class="row">
      <div class="col-xs-12">
        <h2>Why using SharyPic ?</h2></div>
      <div class="col-xs-12">
        <h2>How does it work ?</h2></div>
      <div class="col-xs-12">
        <h2>Check events</h2></div>
    </div>
  </div>
</div>
<div class="wrapper2">
  <div class="container text-center">
    <h1>Why using SharyPic?</h1>
    <div class="row">
      <div class="col-xs-12">
        <h2>It's easy</h2></div>
      <div class="col-xs-12">
        <h2>It's fast</h2></div>
      <div class="col-xs-12">
        <h2>It's </h2></div>
    </div>
  </div>
</div>

</div>
