.fix-padding {
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 50px;
}

.wrapper-header {
  background-size: cover !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100vw;
  height: 24vh;
  margin-bottom: 72px;
}

.subcontainer-header, .subcontainer-gallery {
  width: 95vw;
  margin: 0 auto;
}

.subcontainer-header {
  height: 100%;
}

.event-header {
  height: 100%;
  p {
    margin: 0px;
  }
  position: relative;
}

.event-header-top {
  p {
    color: white;
  }
  padding-top: 16px;
}

#event-name {
  font-size: 24px;
  font-weight: bold;
  color:white;
  margin: 0px;
}

#event-location-short {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
}

.event-header-bottom {
  position: absolute;
  bottom: -60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.event-header-bottom-left, .event-header-bottom-right {
  width: 120px;
  height: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.stat-number {
  font-weight: bold;
}

#photos, #members {
  color: rgb(255, 255, 255);
  .stat-category {
    color: rgb(255, 255, 255);
  }
}

#likes, #comments {
  color: rgb(59, 66, 89);
  .stat-category {
    color: rgb(120,120,120);
  }
}

.stat-category {
  font-weight: bold;
  font-size: 10px;
  padding: 1px 8px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.15);
}


.event-header-avatar {
  img {
    border: solid 6px #f4f4f4;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.photo img {
  object-fit: cover;
  width: 100%;
  height: 172px;
  width: 172px;
  margin-bottom: 6px;
  border-radius: 8px;
}

.icon img {
  width: auto;
  height: 120px;
  margin-bottom: 2px;
}
.row {
    text-align: center;
    padding-bottom: 10px;
}

.date {
  min-width: 95%;
  text-align: center;
}

.text {
  width: 100%;
}
