.search-link {
  margin-top: 10px;
  font-size: 18px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.event-button {
  display: flex;
  align-items: center;
  margin-top: 10px;
  p {
    margin: 0;
  }
}

.btn-new-event {
  margin: 15px;
}

.btn-shary {
  text-align: center;
  color: white;
  font-weight: bold;
  margin: 0px;
  border-radius: 6px;
  padding: 5px 10px;
  background: linear-gradient(-225deg, rgba(255, 106, 0, 0.8) 10%, rgba(252, 3, 3, 0.69) 65%);
}
